@page "/allnews"
@model PeopleNewsBlog.Pages.AllNewsModel


@using ModelData.Services;
@inject ISettingsService SettingsService
@{
    ModelData.Models.Setting siteSettings = await SettingsService.GetSettingsAsync();

}

 


<div class="page_header clearfix page_margin_top">
    <div class="page_header_left">
        <h1 class="page_title"> All News</h1>
    </div>
    <div class="page_header_right">
        <ul class="bread_crumb">
            <li>
                <a title="Home" href="?page=home">
                    Home
                </a>
            </li>
            <li class="separator icon_small_arrow right_gray">
                &nbsp;
            </li>
            <li>
                <a asp-page="/AllCategory">
                    All Categories
                </a>
            </li>
            <li class="separator icon_small_arrow right_gray">
                &nbsp;
            </li>
            <li>
                All News
            </li>
        </ul>
    </div>
</div>
<div class="divider_block clearfix">
    <hr class="divider first">
    <hr class="divider subheader_arrow">
    <hr class="divider last">
</div>

<div class="row page_margin_top">

    <div class="column column_2_3">

        <div class="row">
            @if (!Model.Posts.Any())
            {
                <div class="col-12">
                    <div class="alert alert-info">No posts available in this category.</div>
                </div>
            }
            <ul class="mx-feature-post blog medium" id="post-container">
                @{


                    // Get the 4 most recent posts
                    var otherPosts = Model.Posts;


                    @if (otherPosts.Any())
                    {
                        @foreach (var list in otherPosts)
                        {
                            <li class="post">

                                <a asp-page="/PostPage" asp-route-slug="@list.Slug" title="@list.Title" style="">

                                    <img src="@(list?.PostImages?.FirstOrDefault(x => x.IsDefault)?.ImageUrl ?? "")" alt="@list.Title" style="display: block;">

                                </a>

                                <h5 class="mx-title-post">
                                    <a asp-page="/PostPage" asp-route-slug="@list.Slug" title="@list.Title">
                                        @list.Title
                                    </a>
                                </h5>

                                <ul class="post_details simple">

                                    <li class="category">

                                        <a asp-page="/CategoryPage" asp-route-slug="@list.Category?.Slug" title="@list.Category?.Title">
                                            @list.Category?.Title
                                        </a>
                                    </li>

                                    <li class="date">
                                        @(list.PublishedAt?.ToString("hh:mm tt, MMM dd") ?? "")
                                    </li>

                                </ul>

                            </li>
                        }
                    }
                }
            </ul>

        </div>
        @if (Model.TotalPages > 1 && Model.CurrentPage < Model.TotalPages)
        {
            <div class="text-center" style="margin-top:30px;">
                <button id="load-more-btn" class="more active" data-page="@Model.CurrentPage" data-total="@Model.TotalPages">
                    Load More
                </button>
            </div>
        }
    </div>

    <div class="column column_1_3">


        <partial name="_TopSideBar" />

    </div>

</div>

@section Scripts {
    <script>
        $(document).on("click", "#load-more-btn", function () {
            var button = $(this);
            var page = parseInt(button.data("page")) + 1;
            var total = parseInt(button.data("total"));
            var slug = button.data("slug");

            $.get(`/allnews?handler=LoadMore&page=${page}`, function (response) {
                if (response.success && response.posts.length > 0) {
                    let postsHtml = '';

                    $.each(response.posts, function (i, post) {
                        postsHtml += `
<li class="post">
        <a href="/postpage?slug=${post.slug}" title="${post.title}">
            <img src="${post.imageUrl ?? ''}" alt="${post.title}" style="display: block;">
        </a>

        <h5 class="mx-title-post">
            <a href="/postpage?slug=${post.slug}" title="${post.title}">
                ${post.title}
            </a>
        </h5>

        <ul class="post_details simple">
            <li class="category">
               <a href="/categorypage?slug=${post.category.slug}" title="${post.category.title}">
        ${post.category.title}
</a>
            </li>
            <li class="date">
                ${post.publishedAt}
            </li>
        </ul>
</li>`;

                    });

                    // Append to the only <ul> under #post-container
                    $('#post-container').append(postsHtml);


                    button.data("page", page);
                    if (page >= total) {
                        button.remove(); // no more pages
                    }
                }
            });
        });
    </script>
}

  