@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using ModelData.Services;
@inject ICategoryServices CategoryServices
@inject IPostServices PostServices
@inject IAdvertService AdvertServices
@{
    List<ModelData.Models.Category> itemCategories = await CategoryServices.GetCategoriesAsync();
    List<ModelData.Models.Advert> itemAdert = await AdvertServices.GetAdvertsAsync();
    List<ModelData.Models.Post> itemPost = await PostServices.GetPublishedPosts();
}
<!-- Hero Section Start -->

@{
    var heroPosts = itemPost?
        .Where(x => x != null)
        .OrderBy(x => x.HeroOrder)
        .Take(5)
        .ToList() ?? new();


}




<div class="row page_margin_top">

    <div class="column column_2_3">

        <div class="caroufredsel_wrapper caroufredsel_wrapper_small_slider">

            <div class="caroufredsel_wrapper" style="text-align: start; float: none; position: relative; inset: auto; z-index: auto; width: 690px; height: 450px; margin: 0px; overflow: hidden;">

                <ul class="mx-flow-slid-01 small_slider id-small_slider pr_preloader_ss_0 pr_initialized" style="display: block; text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 6210px; height: 450px; z-index: auto;" id="slider_undefined">

                    @foreach (var post in heroPosts)
                    {

                        <li class="slide" id="slide_undefined_@post.Id">

                            <a asp-page="/PostPage" asp-route-slug="@post.Slug" title="@post.Title">

                                <img src="@(post?.PostImages?.FirstOrDefault(x => x.IsDefault)?.ImageUrl ?? "")" alt="img" style="display: block;">

                            </a>

                            <div class="slider_content_box">

                                <ul class="post_details simple">

                                    <li class="category">
                                        <a asp-page="/CategoryPage" asp-route-slug="@post.Category?.Slug" title="@post.Category?.Title">
                                            @post.Category?.Title
                                        </a>
                                    </li>

                                    <li class="date">
                                        @(post.PublishedAt?.ToString("hh:mm tt, MMM dd") ?? "")
                                    </li>

                                </ul>

                                <h2>
                                    <a asp-page="/PostPage" asp-route-slug="@post.Slug" title="@post.Title">
                                        @post.Title
                                    </a>
                                </h2>

                                <p class="clearfix">
                                    @post.Title
                                </p>

                                <ul class="slider_navigation" id="slider_navigation_undefined">
                                    <li class="slider_control">
                                        <a class="left_undefined" href="#" title="prev">
                                        </a>
                                    </li>
                                    <li class="slider_control">
                                        <a class="right_undefined" href="#" title="next">
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </li>
                    }



                </ul>

            </div>

        </div>

        <div id="small_slider" class="slider_posts_list_container small">

            <a class="slider_control left slider_control_undefined slideRightBack" href="#" title="prev">
            </a>
            <div class="caroufredsel_wrapper" style="text-align: start; float: none; position: relative; inset: auto; z-index: auto; width: 690px; height: 120.8px; margin: 0px; overflow: hidden;">

                <ul class="slider_posts_list clearfix" id="slider_posts_list_undefined" style="text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 2530px; height: 120.8px; z-index: auto;">



                    @foreach (var post in heroPosts)
                    {
                        var j = 0;
                        var isCurrent = j == 0 ? "current" : "";
                        <li id="slider_posts_list_post_undefined_@post.Id" style="width: 230px;" class="@isCurrent">

                            <span class="date">
                                @(post.PublishedAt?.ToString("hh:mm tt, MMM dd") ?? "")

                            </span>
                            <h5>
                                @post.Title
                            </h5>
                            @if (j == 0)
                            {
                                <div class="slider_posts_list_progress_block" id="slider_posts_list_progress_block_undefined" style="width: 37.66%; overflow: hidden;">
                                </div>
                                <div class="slider_posts_list_bar" id="slider_posts_list_bar_undefined" style="width: 37.66%; overflow: hidden;">
                                </div>
                            }
                        </li>

                    }
                </ul>

            </div>
            <a class="slider_control right slider_control_undefined slideLeftBack" href="#" title="next">
            </a>

        </div>




        <div class="row">

            <ul class="mx-feature-post blog medium">
                @{ var isFeaturedPosts = itemPost?
                    .Where(x => x != null)
                    .OrderBy(x => x.IsFeatured)
                    .Take(18)
                    .ToList() ?? new();

                    @if (isFeaturedPosts.Any())
                    {
                        foreach (var list in isFeaturedPosts)
                        {
                            <li class="post">

                                <a asp-page="/PostPage" asp-route-slug="@list.Slug" title="@list.Title" style="">

                                    <img src="@(list?.PostImages?.FirstOrDefault(x => x.IsDefault)?.ImageUrl ?? "")" alt="@list.Title" style="display: block;">

                                </a>

                                <h5 class="mx-title-post">
                                    <a asp-page="/PostPage" asp-route-slug="@list.Slug" title="@list.Title">
                                        @list.Title
                                    </a>
                                </h5>

                                <ul class="post_details simple">

                                    <li class="category">

                                        <a asp-page="/CategoryPage" asp-route-slug="@list.Category?.Slug" title="@list.Category?.Title">
                                            @list.Category?.Title
                                        </a>
                                    </li>

                                    <li class="date">
                                        @(list.PublishedAt?.ToString("hh:mm tt, MMM dd") ?? "")
                                    </li>

                                </ul>

                            </li>
                        }
                    }
                }
            </ul>

        </div>



    </div>

    <div class="column column_1_3">


        <partial name="_TopSideBar" />

    </div>

</div>
<div class="row page_margin_top_section">

    <div class="column column_1_1">
        @{
            ModelData.Models.Advert footerAdvert = itemAdert.FirstOrDefault(x => x.Position == ModelData.Models.AdvertPosition.Footer);
        }
        @if (footerAdvert != null)
        {
            <a href="@footerAdvert.Link" target="_blank">
                <div style="width: 100%; height: 200px; background-image: url('@footerAdvert.ImageUrl'); background-size: cover; background-position: center; border-radius: 6px;"></div>
            </a>
        }
    </div>
</div>


@{
    // Get the 6th category (skip first 5 and take 1)
    var subTCategory = itemCategories
        .Where(c => c.ShowInHomeMain)
        .Skip(1)
        .Take(2)
        .ToList();
}
@foreach (var clist in subTCategory)
{
    <div class="row page_margin_top_section">

        <div class="column column_1_1">
            <h4 class="box_header">
                @clist.Title
            </h4>

            <div class="horizontal_carousel_container page_margin_top">

                <a class="slider_control left slider_control_0" href="#" title="prev" style="">
                </a>

                <div class="caroufredsel_wrapper caroufredsel_wrapper_hortizontal_carousel" style="text-align: start; float: none; position: relative; inset: auto; z-index: auto; width: 810px; height: 262.8px; margin: 0px; overflow: hidden;">

                    <ul class="slider-blog-mx-pos blog horizontal_carousel autoplay-1 visible-4 scroll-1 navigation-1 easing-easeInOutQuint duration-750 pr_preloader_0" style="display: block; text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 3510px; height: 262.8px; z-index: auto;">

                        @{
                            var listPosts = await PostServices.GetPostsByCategory(clist.Id);

                            if (listPosts.Any())
                            {
                                @foreach (var post in listPosts)
                                {
                                    <li class="post">

                                        <a asp-page="/PostPage" asp-route-slug="@post.Slug" title="@post.Title">

                                            <img src="@(post?.PostImages?.FirstOrDefault(x => x.IsDefault)?.ImageUrl ?? "")" alt="@post.Title" style="display: block;">

                                        </a>

                                        <h5>
                                            <a asp-page="/PostPage" asp-route-slug="@post.Slug" title="@post.Title">
                                                @post.Title
                                            </a>
                                        </h5>

                                        <ul class="post_details simple">

                                            <li class="category">
                                                <a asp-page="/CategoryPage" asp-route-slug="@post.Category?.Slug" title="@post.Category?.Title">
                                                    @post.Category?.Title
                                                </a>
                                            </li>

                                            <li class="date">
                                                @(post.PublishedAt?.ToString("hh:mm tt, MMM dd"))
                                            </li>

                                        </ul>

                                    </li>
                                }
                            }
                        }
                    </ul>

                </div>
                <a class="slider_control right slider_control_0" href="#" title="next" style="">
                </a>

            </div>

        </div>
    </div>

}




<div class="row page_margin_top_section">

    <div class="column column_1_1">
        <h4 class="box_header" style="margin-bottom:10px;">
            Other Updates
        </h4>
        <div class="row">
            <ul class="mx-feature-post blog medium" id="post-container">
                @{


                    // Get the 4 most recent posts
                    var otherPosts = (await PostServices.GetRecentPosts()) // Or GetPosts() depending on your service
                .OrderByDescending(p => p.PublishedAt ?? p.Date)
                .Skip(5).Take(8)
                .ToList();


                    @if (otherPosts.Any())
                    {
                        @foreach (var list in otherPosts)
                        {
                            <li class="post">

                                <a asp-page="/PostPage" asp-route-slug="@list.Slug" title="@list.Title" style="">

                                    <img src="@(list?.PostImages?.FirstOrDefault(x => x.IsDefault)?.ImageUrl ?? "")" alt="@list.Title" style="display: block;">

                                </a>

                                <h5 class="mx-title-post">
                                    <a asp-page="/PostPage" asp-route-slug="@list.Slug" title="@list.Title">
                                        @list.Title
                                    </a>
                                </h5>

                                <ul class="post_details simple">

                                    <li class="category">

                                        <a asp-page="/CategoryPage" asp-route-slug="@list.Category?.Slug" title="@list.Category?.Title">
                                            @list.Category?.Title
                                        </a>
                                    </li>

                                    <li class="date">
                                        @(list.PublishedAt?.ToString("hh:mm tt, MMM dd") ?? "")
                                    </li>

                                </ul>

                            </li>
                        }
                    }
                }
            </ul>

           



        </div>
        <div class="text-center mt-3" style="margin-top:20px;">
            <a asp-page="/AllNews" class="more active">More News</a>
        </div>
    </div>



</div>

