@page "/post/{slug}"
@model PeopleNewsBlog.Pages.PostPageModel

@using ModelData.Services;
@inject ISettingsService SettingsService
@{
    ModelData.Models.Setting siteSettings = await SettingsService.GetSettingsAsync();

}


@{
    var post = Model.Post;
    var footerAd = Model.FooterAdvert;
}


<div class="page_header clearfix page_margin_top">
    <div class="page_header_left">
        <h1 class="page_title"></h1>
    </div>
    <div class="page_header_right">
        <ul class="bread_crumb">
            <li>
                <a title="Home" href="/">
                    Home
                </a>
            </li>
            <li class="separator icon_small_arrow right_gray">
                &nbsp;
            </li>
            <li>
                <a asp-page="/CategoryPage" asp-route-slug="@post?.Category?.Slug">
                    @post?.Category?.Title
                </a>
            </li>
            <li class="separator icon_small_arrow right_gray">
                &nbsp;
            </li>
            <li>
                @post?.Title
            </li>
        </ul>
    </div>
</div>
<div class="divider_block clearfix">
    <hr class="divider first">
    <hr class="divider subheader_arrow">
    <hr class="divider last">
</div>

<div class="row page_margin_top">

    <div class="column column_2_3">
        <div class="row">
            <div class="post single">
                <h1 class="post_title">
                    @post.Title
                </h1>
                <ul class="post_details clearfix">
                    <li class="detail category">In <a asp-page="/CategoryPage" asp-route-slug="@Model.Post?.Category?.Slug" title="@Model.Post?.Category.Title">@Model.Post?.Category.Title</a></li>
                    <li class="detail date">@(Model.Post?.PublishedAt?.ToString("hh:mm tt, MMM dd") ?? "")</li>
                    <li class="detail author">By <a href="#" title="@Model.Post?.PostBy">@Model.Post?.PostBy</a></li>
                    <li class="detail views">@Model.Post?.ViewCount Views</li>
                    <li class="detail comments">
                        <a href="#comments_list" class="scroll_to_comments">
                            @if (Model.Comments != null && Model.Comments.Any())
                            {
                                @Model.Comments?.Count
                            } Comments
                        </a>
                    </li>
                </ul>
                <div class="post--img">
                    <a href="#" class="thumb">
                        <img src="@post.PostImages?.FirstOrDefault()?.ImageUrl" alt="@post.Title" data-rjs="2">
                    </a>
                </div>

                <div class="post_content page_margin_top_section clearfix">
                    <div class="" id="postContent">
                        @Html.Raw(Model.ModifiedContentHtml)

                    </div>
                </div>

                <div class="row page_margin_top">
                    <div class="share_box clearfix">
                        <label>Share:</label>
                        <ul class="social_icons clearfix ppp-post-comment" style="list-style:none; padding:0; display:flex; gap:10px;">
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=@Model.PostUrl" target="_blank" title="Share on Facebook">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/intent/tweet?url=@Model.PostUrl&text=@Model.Post?.Title" target="_blank" title="Share on Twitter">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Model.PostUrl&title=@Model.Post?.Title" target="_blank" title="Share on LinkedIn">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://pinterest.com/pin/create/button/?url=@Model.PostUrl" target="_blank" title="Share on Pinterest">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://wa.me/?text=@Uri.EscapeDataString($"{Model.Post?.Title} - {Model.PostUrl}")" target="_blank" title="Share on WhatsApp">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="row page_margin_top">
                    <ul class="taxonomies tags left clearfix">
                        @foreach (var tag in Model.Post.Tags)
                        {
                            <li>
                                <a href="#">@tag</a>
                            </li>
                        }

                    </ul>

                </div>
                <div class="row page_margin_top_section">
                    <h4 class="box_header">Leave a Comment</h4>
                    <p class="padding_top_30">Your email address will not be published. Required fields are marked with *</p>
                    <form class="comment_form margin_top_15" method="post">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <fieldset class="column column_1_3">
                                <input class="text_input hint" asp-for="NewComment.AuthorName" type="text" value="Your Name *" placeholder="Your Name *">
                            </fieldset>
                            <fieldset class="column column_1_3">
                                <input class="text_input hint" asp-for="NewComment.AuthorEmail" type="text" value="Your Email *" placeholder="Your Email *">
                            </fieldset>
                        }
                        <fieldset>
                            <textarea asp-for="NewComment.Content" placeholder="Comment *" class="hint">Comment *</textarea>
                        </fieldset>
                        <fieldset>
                            <input type="submit" value="POST COMMENT" class="more active">
                        </fieldset>
                    </form>
                </div>




                @if (Model.Comments != null && Model.Comments.Any())
                {
                    <div class="row page_margin_top_section">
                        <h4 class="box_header">@((Model.Comments?.Count ?? 0)) Comments</h4>
                        <ul class="cmt-01-xc" id="commentList">
                            @foreach (var comment in Model.Comments.Take(5))
                            {
                                <li class="comment clearfix">

                                    <div class="comment_details">
                                        <div class="posted_by clearfix">
                                            <h5><a class="author" href="#" title="@comment.AuthorName">@comment.AuthorName</a></h5>
                                            <abbr title="@comment.CreatedAt.ToString("dd MMMM yyyy") " class="timeago">@comment.CreatedAt.ToString("MMMM dd, yyyy 'at' hh:mm tt")</abbr>
                                        </div>
                                        <p>
                                            @comment.Content
                                        </p>

                                    </div>
                                </li>
                            }

                        </ul>
                        @if (Model.Comments.Count > 5)
                        {
                            <div class="text-center mt-3">
                                <button id="loadMoreBtn" class="more active" data-skip="5" data-postid="@Model.Post.Id">
                                    Load More Comments
                                </button>
                            </div>
                        }
                    </div>


                     

                }












            </div>
        </div>
    </div>

    <div class="column column_1_3">


        <partial name="_TopSideBar" />

    </div>

</div>








@section Scripts {

    <script>
        $(document).ready(function () {
            $('#loadMoreBtn').on('click', function () {
                let btn = $(this);
                let skip = parseInt(btn.data('skip'));
                let postId = btn.data('postid');

                console.log("[LoadComments] Button clicked");
                console.log("[LoadComments] postId:", postId);
                console.log("[LoadComments] skip:", skip);

                $.get(`${window.location.pathname}?handler=LoadComments&postId=${postId}&skip=${skip}&take=5`, function (data) {
                    console.log("[LoadComments] Response received:", data);

                    if (data.length === 0) {
                        console.log("[LoadComments] No more comments.");
                        btn.remove(); // No more comments
                    } else {
                        console.log(`[LoadComments] Appending ${data.length} comments...`);
                        data.forEach(c => {
                            $('#commentList').append(`
    <li class="comment clearfix">
        <div class="comment_details">
            <div class="posted_by clearfix">
                <h5>
                    <a class="author" href="#" title="${c.authorName}">
                        ${c.authorName}
                    </a>
                </h5>
                <abbr class="timeago" title="${c.createdAt}">
                    ${c.createdAt}
                </abbr>
            </div>
            <p>${c.content}</p>
        </div>
    </li>
`);

                        });

                        btn.data('skip', skip + data.length);
                    }
                }).fail(function (xhr, status, error) {
                    console.error("[LoadComments] AJAX failed:", status, error);
                });
            });
        });
    </script>


    <script>
    $(document).ready(function () {
        var alreadyViewed = sessionStorage.getItem("viewedPost_@Model.Post.Id");
        if (alreadyViewed) return;

        var postId = @Model.Post.Id;

        var observer = new IntersectionObserver(function (entries, obs) {
            entries.forEach(function (entry) {
                if (entry.isIntersecting) {
                    $.get(window.location.pathname + "?handler=ViewCount&postId=" + postId, function (res) {
                        if (res.success) {
                            sessionStorage.setItem("viewedPost_" + postId, "true");
                        }
                    });
                    obs.disconnect();
                }
            });
        }, { threshold: 0.4 });

        var target = document.getElementById("postContent");
        if (target) observer.observe(target);
    });
    </script>





}












